
<div class="grid-lg">
    <h1 class="h2">
        <span class="accent">Salary</span>
        Overview
    </h1>
    <div class="flex-lg">
        <div class="budget">
            <div class="progress-text">
                <h3>Salary</h3>
                <p>$300,000.00 Budgeted</p>
            </div>
            <progress max="1500" value="100">7%</progress>
            <div class="progress-text">
                <small>$0.00 spent</small>
                <small>$300,000.00 remaining</small>
            </div>
            <div class="flex-sm">
                <form method="post"
                      action="/budget/b9fbf206-c970-4eaa-9dd7-0ee5778c1405/delete">
                    <a type="button" class="btn btn-danger" asp-action="Dashboard">
                        <span>Delete Budget</span>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" width="20">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0">
                            </path>
                        </svg>
                    </a>
                </form>
            </div>
        </div>
    </div>
    <div class="grid-md">
        <h2>
            <span class="accent">Salary</span>
            Expenses
        </h2>
        @* Expenses List *@
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Date</th>
                        <th>Budget</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        @* End *@

        <ul class="mud-pagination mud-pagination-text mud-pagination-medium mt-4">
            <li class="mud-pagination-item">
                <button aria-label="First page" type="button" disabled="" class="mud-button-root mud-icon-button mud-ripple mud-ripple-icon" _bl_2="">
                    <span class="mud-icon-button-label">
                        |&lt;
                        @* <svg class="mud-icon-root mud-svg-icon mud-icon-size-medium" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                        <path d="M18.41 16.59L13.82 12l4.59-4.59L17 6l-6 6 6 6zM6 6h2v12H6z"></path>
                        <path d="M24 24H0V0h24v24z" fill="none"></path>
                        </svg> *@
                    </span>
                </button>
            </li>
            <li class="mud-pagination-item">
                <button aria-label="Previous page" type="button" disabled="" class="mud-button-root mud-icon-button mud-ripple mud-ripple-icon" _bl_3="">
                    <span class="mud-icon-button-label"> &lt;
                        @* <svg class="mud-icon-root mud-svg-icon mud-icon-size-medium" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                        <path d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path>
                        </svg> *@
                    </span>
                </button>
            </li>
            <li class="mud-pagination-item mud-pagination-item-selected">
                <button aria-current="page" aria-label="Current page 1" type="button" class="mud-button-root mud-button mud-button-filled mud-button-filled-primary mud-button-filled-size-medium" _bl_4="">
                    <span class="mud-button-label">1</span>
                </button>
            </li>
            <li class="mud-pagination-item">
                <button aria-label="Next page" type="button" disabled="" class="mud-button-root mud-icon-button mud-ripple mud-ripple-icon" _bl_5="">
                    <span class="mud-icon-button-label"> &gt;
                       @*  <svg class="mud-icon-root mud-svg-icon mud-icon-size-medium" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
                        </svg> *@
                    </span>
                </button>
            </li>
            <li class="mud-pagination-item">
                <button aria-label="Last page" type="button" disabled="" class="mud-button-root mud-icon-button mud-ripple mud-ripple-icon" _bl_6="">
                    <span class="mud-icon-button-label"> &gt;|
                        @* <svg class="mud-icon-root mud-svg-icon mud-icon-size-medium" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                            <path d="M0 0h24v24H0V0z" fill="none"></path>
                            <path d="M5.59 7.41L10.18 12l-4.59 4.59L7 18l6-6-6-6zM16 6h2v12h-2z"></path>
                        </svg> *@
                    </span>
                </button>
            </li>
        </ul>
    </div>
</div>
