
<div class="dashboard">
    <h1>
        Welcome back,
        <span class="accent"> </span>
    </h1>
    <div class="grid-sm">
        <div class="grid-lg">
            <div class="flex-lg">
                <div class="form-wrapper">
                    <h2 class="h3">Create budget</h2>
                    <div class="grid-xs">
                        <label for="newBudget">Budget Name</label>
                        <input type="text" name="newBudget" placeholder="e.g., Groceries" required="" />
                    </div>
                    <div class="grid-xs">
                        <label for="newBudgetAmount">Amount</label>
                        <input type="number" step="0.01" name="newBudgetAmount" placeholder="e.g., $350" required="" inputmode="decimal" />
                    </div>
                    <input type="hidden" name="_action" value="createBudget" />
                    <button type="button" class="btn btn-dark">
                        <span>Create budget</span>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" width="20">
                            <path d="M10.464 8.746c.227-.18.497-.311.786-.394v2.795a2.252 2.252 0 01-.786-.393c-.394-.313-.546-.681-.546-1.004 0-.323.152-.691.546-1.004zM12.75 15.662v-2.824c.347.085.664.228.921.421.427.32.579.686.579.991 0 .305-.152.671-.579.991a2.534 2.534 0 01-.921.42z">
                            </path>
                            <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zM12.75 6a.75.75 0 00-1.5 0v.816a3.836 3.836 0 00-1.72.756c-.712.566-1.112 1.35-1.112 2.178 0 .829.4 1.612 1.113 2.178.502.4 1.102.647 1.719.756v2.978a2.536 2.536 0 01-.921-.421l-.879-.66a.75.75 0 00-.9 1.2l.879.66c.533.4 1.169.645 1.821.75V18a.75.75 0 001.5 0v-.81a4.124 4.124 0 001.821-.749c.745-.559 1.179-1.344 1.179-2.191 0-.847-.434-1.632-1.179-2.191a4.122 4.122 0 00-1.821-.75V8.354c.29.082.559.213.786.393l.415.33a.75.75 0 00.933-1.175l-.415-.33a3.836 3.836 0 00-1.719-.755V6z" clip-rule="evenodd">
                            </path>
                        </svg>
                    </button>
                </div>
                <div class="form-wrapper">
                    <h2 class="h3">
                        Add New <span class="accent"></span> Expense
                    </h2>
                    <div class="expense-inputs">
                        <div class="grid-xs">
                            <label for="newExpense">Expense Name</label>
                            <input type="text" name="newExpense" placeholder="e.g., Coffee" required="" />
                        </div>
                        <div class="grid-xs">
                            <label for="newExpenseAmount">Amount</label>
                            <input type="number" step="0.01" inputmode="decimal" name="newExpenseAmount" placeholder="e.g., 3.50" required="" />
                        </div>
                    </div>
                    <div class="grid-xs">
                        <label for="newExpenseBudget">Budget Category</label>
                        <select name="newExpenseBudget" required="">
                           
                        </select>
                    </div>
                    <button type="button" class="btn btn-dark">
                        <span>Add Expense</span>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" width="20">
                            <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zM12.75 9a.75.75 0 00-1.5 0v2.25H9a.75.75 0 000 1.5h2.25V15a.75.75 0 001.5 0v-2.25H15a.75.75 0 000-1.5h-2.25V9z" clip-rule="evenodd">
                            </path>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="grid-md">
                <h2>Existing Budgets</h2>

                @* Existing List *@
                <div class="budget" style="--accent: 82 115% 40%;">
                    <div class="progress-text">
                        <h3>Salary</h3>
                        <p>$300,000.00 Budgeted</p>
                    </div>
                    <progress max="300000" value="0">100%</progress>
                    <div class="progress-text">
                        <small>$0.00 spent</small>
                        <small>$300,000.00 remaining</small>
                    </div>
                    <div class="flex-sm">
                        <a class="btn btn-dark" asp-action="BudgetDetail">
                            <span>View Details</span>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" aria-hidden="true" width="20">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M2.25 18.75a60.07 60.07 0 0115.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 013 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 00-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 01-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 003 15h-.75M15 10.5a3 3 0 11-6 0 3 3 0 016 0zm3 0h.008v.008H18V10.5zm-12 0h.008v.008H6V10.5z">
                                </path>
                            </svg>
                        </a>
                    </div>
                </div>
                @* End *@

            </div>
            <div class="grid-md">
                <h2>Recent Expenses</h2>

                @* Expenses List *@
                <div class="table">
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Amount</th>
                                <th>Date</th>
                                <th>Budget</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                @* End *@

            </div>
        </div>
    </div>
</div>