<div class="intro">
    <div>
        <h1>
            Take Control of
            <span class="accent">Your Money</span>
        </h1>
        <p>
            Personal budgeting is the secret to financial freedom. Start
            your journey today.
        </p>
        <input type="text" id="txtName" required="" placeholder="What is your name?" aria-label="Your Name" autocomplete="given-name" />
        <input type="text" id="txtPhNo" required="" placeholder="What is your phone number?" aria-label="Your PhNo" autocomplete="given-name" />
        <button type="button" class="btn btn-dark" id="btnCreateAcc">
            <span>Create Account</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" width="20">
                <path d="M6.25 6.375a4.125 4.125 0 118.25 0 4.125 4.125 0 01-8.25 0zM3.25 19.125a7.125 7.125 0 0114.25 0v.003l-.001.119a.75.75 0 01-.363.63 13.067 13.067 0 01-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 01-.364-.63l-.001-.122zM19.75 7.5a.75.75 0 00-1.5 0v2.25H16a.75.75 0 000 1.5h2.25v2.25a.75.75 0 001.5 0v-2.25H22a.75.75 0 000-1.5h-2.25V7.5z"></path>
            </svg>
        </button>
    </div>
    <img src="assets/illustration.jpg" alt="Person with money" width="600" />
</div>
<div class="modal" id="loginModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h3 class="modal-titl">Login</h3>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="txtLname" placeholder="Enter your name">
                    </div>
                    <div class="mb-3">
                        <label for="phoneNumber" class="form-label">Phone Number</label>
                        <input type="tel" class="form-control" id="txtLphNo" placeholder="Enter your phone number">
                    </div>
                    <button type="button" id="btnCancel" class="btn btn-secondary btn-block">Cancel</button>
                    <button type="button" id="btnLogin" class="btn btn-primary btn-block">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $('#openAccount').click(function () {
            $('#txtLname').val('');
            $('#txtLphNo').val('');
            $('#loginModal').modal('show');
        })

        $('#btnCancel').click(function () {
            $('#loginModal').modal('hide');
        })

        $('#btnLogin').click(function (e) {
            var _reqModel = {
                UserName: $('#txtLname').val(),
                PhoneNumber: $('#txtLphNo').val()
            }

            $.ajax({
                url: '/home/login',
                type: 'POST',
                data: {
                    reqModel: _reqModel
                },
                success: function (data) {
                    if (data != null) {
                        notiMessage(data,'/home/dashboard');

                    }
                },
                error: function (request, status, error) {
                    console.log({ request, status, error });
                }
            });
        })

        $('#btnCreateAcc').click(function (e) {

            var _reqModel = {
                UserName: $('#txtName').val(),
                PhoneNumber: $('#txtPhNo').val()
            };

            $.ajax({
                url: '/home/save',
                type: 'POST',
                data: {
                    reqModel: _reqModel
                },
                success: function (data) {
                    if (data != null) {
                        showMessage(data, "/home/createbudget");
                    }
                },
                error: function (request, status, error) {
                        console.log({ request, status, error });
                }

            });
        })

    </script>
}